*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#1d8dce;
  --col-04:#57dcbe;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* sets font to this family as its easier to look at compared to
  previous font (sorry to the Times New Roman stans) */
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: color ease-in 0.5s;
  /* eases the colours within the body element
  for 0.5 seconds between light and dark mode so
  its easier on the eyes */
  text-align: justify;
  /* aligns text to justify so the space and paragraphs
  look much more neat */
  line-height: 1.8rem;
  color: var(--col-01);
}

.nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

/* splitting the 'a' to :link, :visited from :hover, :active
enables different colours for links,
removes text underlines for links as
it looks messy and unnecessary */
a:link, a:visited {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  /* clips contents outside hyperlink during hover transition */
  color: var(--col-03);
  background: linear-gradient( to right, #57dcbe,  #57dcbe 50%, #1d8dce 50%);
  /* using linear gradient with hard stop at 50% to starting colour and the 
  colour to which the link will change to */
  background-clip: text;
  /* clips background to text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  /* enables the starting colours to appear */
  transition: background-position 275ms ease;
  /* eases this transition from one colour to another in 2.75 seconds */
}

/* changed the colours of all links on hover to create a more fun, engaging and dynamic page
for user to interact with */
a:hover,a:active {
  background-position: 0 100%;
  /* enables the link fill from left to right on hover */
}

/* aligns the button to the center of the page just under the 
navigation bar so the button fits like a glove and blends
within the page rather than sticking out like a sore thumb */
.button-div {
  text-align: center;
}

/* changed the button style*/
.modeButton{
  margin: auto;
  width: 10rem;
  height: 2rem;
  background-color: var(--col-02);
  color: var(--col-01);
  border: 1px solid black;
  border-radius: 15px;
  /* rounder button is aesthetically friendlier to the user */
  transition-duration: 0.2s;
  /* transitions the colours on hover ever so slowly as it 
  eases the user into the gesture of this function */
}

.modeButton:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  /* enjoyed adding a shadow upon hover as it highlights that this
  button is almost like another visual queue that the page will
  turn to dark mode once pressed, two properties in this as it
  allows for the shadow to fade its edges within the webpages
  softer than creating a sharp shadow */
}

section{
  margin-bottom: 2rem;
}

.intro { /* created a tag for the heading to add more style */
  position: relative;
  /* this makes the position of the text to a normal position
  which is needed as the animation results in the text being
  adjusted from its normal position */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* this targets the span tags within the intro class */
.intro span {
  position:relative;
  /* again makes the position of the text to a normal position
  which is necessary as the animation results in the text being
  adjusted from its normal position */
  display: inline-block;
  text-transform: uppercase;
  /* adjusts the text to uppercase for all letters */
}

h1{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  animation: flip 5s infinite;
  /* will cause the animation to flip infinitely per 5 seconds */
  animation-delay: calc(.1s * var(--i));
  /* allows a gap of 0.1 seconds between each letter to animate to
  create a smooth flow between each letter */
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
    /* keyframes to animate the flip from 0 to 80% to each letter by
    360 degrees along the Y axis (left to right) */
  }
}

ol{
  margin: 0;
  padding: 0;
  text-align: center;
  /* sets navigation bar (<ol>) to center of page */
}

h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3{
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p{
  font-size: 1rem;
  margin-top: 2rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
  list-style-type: circle;
  /* changed the bullets to circles to make it easier to look at */
  margin-top: 1rem;
}

dd{
  padding-left: 60px;
}


.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
  animation: fadeIn 5s;
}

.res-columns{
  column-width: 25rem;
  text-align: left;
}

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }
}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }
}

@media (prefers-reduced-motion) { 
accessibility tag
a:hover {
  animation: none;
}  
}
